* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito", sans-serif;
  background-color: whitesmoke;
}
body header {
  background-color: #F26D70;
  padding-block: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
body header h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}
body header h1 a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}
body header h1 a:active {
  transform: scale(0.9);
}
body header h1 a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 8px;
  content: "";
  display: inline-block;
  height: 10px;
  width: 0;
  background-color: white;
  transition: 0.5s;
}
body header h1 a:hover::after {
  width: 100%;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 5rem;
}
body main a {
  display: inline-block;
  margin-top: 10rem;
  text-decoration: none;
  color: black;
  border: 5px solid red;
  padding: 2rem 4rem;
  font-size: 3rem;
  font-weight: 900;
  transition: transform 0.5s;
  border-radius: 2rem;
}
body main a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: #F26D70;
  color: white;
}
body main a:active {
  transform: scale(0.9);
}
body main div.cards-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
body main div.cards-container div.card {
  width: calc(25% - 2rem);
  border: 1px solid black;
  margin: 1rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
body main div.cards-container div.card img {
  width: 100%;
}
body main div.cards-container div.card h3,
body main div.cards-container div.card h4 {
  padding-top: 0.5rem;
}
body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-block: 0.5rem;
  background-color: darkgrey;
  color: white;
  text-align: center;
}