* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "nunito", sans-serif;
    background-color: whitesmoke;

    
// HEADER
    header {
        background-color: #F26D70;
        padding-block: 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        h1 {
            font-size: 4rem;
            text-align: center;
            text-transform: uppercase;

            a {
            display: inline-block;
            position: relative;
            color: white;
            text-decoration: none;
            transition: transform .3s;

            &:active {
                transform: scale(.9);
            }

            &::after {
                position: absolute;
                bottom: -10px;
                left: 0;
                border-radius: 8px;
                content: "";
                display: inline-block;
                height: 10px;
                width: 0;
                background-color: white;
                transition: .5s;
            }

            &:hover::after {
                width: 100%;
            }
            }
        }
    }

// MAIN

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 5rem;

    a.homeBtn{
        display: inline-block;
        margin-top: 10rem;
        text-decoration: none;
        color: black;
        border: 5px solid red;
        padding: 2rem 4rem;
        font-size: 3rem;
        font-weight: 900;
        transition: transform .5s;
        border-radius: 2rem;
        
        &:hover {
            transform: scale(1.1);
            transition: .5s;
            background-color: #F26D70;
            color: white;
        }

        &:active {
            transform: scale(.9);
        }
    }


    div.cards-container {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        div.card {
            width: calc(100% / 4 - 2rem);
            border: 1px solid black;
            margin: 1rem;
            padding: 1.5rem 1rem;
            cursor: pointer;

            img {
                width: 100%;
            }

            h3,
            h4 {
                padding-top: .5rem;
            }
        }
    }

}


// FOOTER

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: .5rem;
    background-color: darkgrey;
    color: white;
    text-align: center;
}
}